{% comment %}

    Adds a basic citation box for the item with reference link to the item page.

{%- endcomment -%}
<div class="card">
    <div class="card-header">Source</div>
    <div class="card-body">
        <dd>
            "{{ page.title }}," <i>{{ site.title }}</i>, {{ site.organization_name }} 
            accessed {{ 'now' | date: "%B %d, %Y" }}. 
            <a href="{{ page.url | absolute_url }}" target="_blank" rel="noopener noreferrer">
                {{ page.url | absolute_url }}
            </a>
        </dd>
    </div>
</div>