/* 
    Put your custom SCSS here! 
    This allows you to override any CollectionBuilder or Bootstrap CSS without modifying the base theme files directly.
*/
#non-home-banner {
    img {
        max-height: 150px;
    }
}

#home-banner-logo {
    height: 150px
}

.footnotes {
    font-size: 0.9rem;
    border-top: 1px solid var(--bs-gray);
    padding-top: 12px;
}

.highlight code {
    display: block;
    text-wrap: initial;
    font-size: 1rem;
    padding-left: 2rem;
    margin-left: 2rem;
    border-left: 4px solid var(--bs-gray-500);
}

#cc-license {
    font-size: 0.9rem;
    a {
        color: #f5d877 !important;

        &:hover {
            color: white !important;
            text-decoration: underline;
        }
    }
}

#jhu-sheridan-logo {
    width: auto;
    height: 124px;
}
#nhprc-logo {
    width:100px;
    height:auto;
}
