---
# Default home page with boxes providing collection stats
layout: page
---
{%- assign items = site.data[site.metadata] | where_exp: 'item','item.objectid' -%}
<div class="row">

  <div class="col-md-8">

    {% include index/description.html %}

    {% comment %}
      {% include index/carousel.html title="Sample Items" %}
    {% endcomment %}
    
  </div>
  <div class="col-md-4">  

    {% include index/time.html %}

    {% include index/featured-terms.html field="subject" title="Keywords" btn-color="secondary" %}

    {% comment %}
      {% include index/featured-terms.html field="location" title="Biographies" btn-color="outline-secondary" %}
    {% endcomment %}

    {% comment %}
      {% include index/objects.html %}
    {% endcomment %}

  </div>

  {% comment %}
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>
  {% endcomment %}

</div>